.gerrry {
    background: #595959;
    box-shadow: 3px 0 7px rgba(0,0,0,.3);
    margin: 20px;
    padding: 20px;
    font-size: 16px;
    padding-bottom: 10px;
}
.first {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    white-space: nowrap;
    text-align: center;
    font-size: 0;
    padding-top: 35px;
    padding-bottom: 10px;
}
.home_img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.tabler{
    background: #595959;
    box-shadow: 3px 0 7px rgba(0,0,0,.3);
    margin: 20px;
    padding: 20px;
    font-size: 16px;
    padding-left: 50px;
    padding-bottom: 10px;
}

.second {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    white-space: nowrap;
    text-align: center;
    font-size: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.top_padd {
    padding-top: 20px;
}

.stat {
    padding-top: 40px;
}

